body {
  background-image: url("salon-vide-dans-appartement-moderne_529539-69.avif");
  background-size: cover;
}

:root {
  --red-color-friends: rgb(233, 30, 35);
  --blue-color-friends: rgb(2, 178, 231);
  --yellow-color-friends: rgb(250, 188, 22);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  display: none;
}
.dot {
  font-size: 5rem;
  display: flex;
  align-items: baseline;
}
.dot1 {
  color: var(--red-color-friends);
}
.dot2 {
  color: var(--blue-color-friends);
}
.dot3 {
  color: var(--yellow-color-friends);
}

.Room {
  display: flex;

  width: 100%;
}

.Table {
  width: 20%;
  display: flex;
  justify-content: end;
  margin-top: 34%;
}
.Table img {
  width: 30%;
  margin-left: 60%;
}
.Bookshelf {
  margin-top: 2%;
  width: 20%;
}
.Bookshelf img {
  width: 100%;
  margin-top: 105%;
}
.TV {
  margin-top: 33%;
  width: 20%;
}
.TV img {
  width: 95%;
}
.Counch {
  width: 20%;
  margin-top: 25%;
}
.Counch img {
  width: 165%;
}
.Kitchen {
  width: 20%;
  margin-top: 25%;
}

.Kitchen img {
  width: 130%;
}

.Cinema {
  background-color: white;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 100%;
  background-color: transparent;
  padding: 0.3%;
  position: absolute;
  margin-top: 36.5%;
  margin-left: 46.5%;
  border: none;
}
.telecommande {
  width: 20%;
  margin-right: 70%;
}

#popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

li img {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 360px;
  left: 16px;
}
